@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 mt-4 mb-3" style="font-weight: 400; color : #A79344; font-family: 'Cinzel', serif;">Welcome to <br /> <span style="font-size: 90px;">For The People</span></h2>
    <div class="d-flex justify-content-center mt-3 mb-3">
        <img width="425" height="425" src="~/img/gov.jpg"/>
    </div>
    <hr />
    <h4 style="font-family: 'EB Garamond', serif; font-size: 28px">Discover and contact your representatives, explore legislature currently up for vote and take an active role in your country!</h4>
</div>
