@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-center mt-5 mb-3">
        <img width="500" height="500" src="~/img/gov.jpg"/>
    </div>
    <h1 class="display-4 mb-3">Welcome to For The People</h1>
    <h3>This is the premier government informational application!</h3>
    <hr />
    <h4>Discover and contact your representatives, explore legislature currently up for vote and take an active role in your country!</h4>
</div>
